@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rounded";
  src: url("../public/SF-Rounded.ttf");
}

html,
body {
  padding: 0;
  margin: 0;

 font-family: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
